.header__main 
	.container
		.header-menu
			a(href="#")
				img(src="static/images/content/logo.png", alt="Логотип") 
			include ../main-nav/main-nav
			a(href="#").header-menu__search
				img(src="static/images/content/search.png", alt="Поиск").search