.most-popular
	padding-top 80px
	width 1170px
	padding-bottom 80px

	&__title
		padding-bottom 27px
		font-size 30px
		font-weight bold
		line-height 39px
		color $gray-900

	&__posts
		display flex

	&__post
		margin-right 30px
		width 270px
		&:last-child
			margin 0
			padding 0	

	&__post-img
		border-radius 5px

	&__post-title
		font-size 19px
		font-style normal
		font-weight bold
		line-height 28px
		color $gray-900	
		padding 20px 0 20px 0

	&__post-text
		font-size 14px
		font-style italic
		font-weight normal
		line-height 18px
		color $gray-800	

	&__post-category
		display flex
		margin-top 20px
		width 62px
		height 22px
		color $white
		background-color $mate-blue
		align-items center
		padding-left 12px
		margin-left 20px
		border-radius 4px
		position absolute				