.main-nav__list 
	font-size 14px
	text-decoration none
	list-style none
	display flex
	justify-content center
.main-nav__item {
	padding-right 45px
}	
.main-nav {
	padding-top 4px
}

.main-nav__item a 
	color $white
	font-family 'PT Sans'
	
.header__main
	background $black
	height 90px	
.container {
	width 1170px
}	
.header-menu
	display flex
	justify-content space-between
	padding-top 35px
	
	&__search
		width 16px
		height 17px
		transform translateX(25px)
		
