section.section
	.container
		.main-grid
			.main-grid__col.main-grid__col--small
				.grid-card
					img(src="static/images/content/c63.png", alt="c63").grid-card__big-img
					.grid-card-small__descr
						a(href="#").grid-card-small__category Vehicle
						span.grid-card-small__author Rickie Baroch - June 6, 2019
						h1.grid-card-small__title One of Saturn’s largest rings may be newer than anyone
			
			.main-grid__col.main-grid__col--big
				.grid-card
					img(src="static/images/content/gts.png", alt="c63").grid-card__img
					.grid-card__descr
						a(href="#").grid-card__category Vehicle
						span.grid-card__author Rickie Baroch - June 6, 2019
						h1.grid-card__title One of Saturn’s largest rings may be newer than anyone
				.grid-card
					img(src="static/images/content/q8.png", alt="c63").grid-card__img
					.grid-card__descr
						a(href="#").grid-card__category Vehicle
						span.grid-card__author Rickie Baroch - June 6, 2019
						h1.grid-card__title One of Saturn’s largest rings may be newer than anyone
				.grid-card
					img(src="static/images/content/a8.png", alt="c63").grid-card__img
					.grid-card__descr
						a(href="#").grid-card__category Vehicle
						span.grid-card__author Rickie Baroch - June 6, 2019
						h1.grid-card__title One of Saturn’s largest rings may be newer than anyone
				.grid-card
					img(src="static/images/content/mgb.png", alt="c63").grid-card__img
					.grid-card__descr
						a(href="#").grid-card__category Vehicle
						span.grid-card__author Rickie Baroch - June 6, 2019
						h1.grid-card__title One of Saturn’s largest rings may be newer than anyone				



		