section.section
	.container
		.most-popular
			h1.most-popular__title Most popular
			.most-popular__posts
				.most-popular__post
					a(href="#").most-popular__post-category BMW
					img(src="static/images/content/m3-black.png", alt="m3-black").most-popular__post-img
					h1.most-popular__post-title One of Saturn’s largest rings may be newer than anyone
					span.most-popular__post-text Rickie Baroch - June 6, 2019
				.most-popular__post
					a(href="#").most-popular__post-category BMW
					img(src="static/images/content/m5.png", alt="m5").most-popular__post-img
					h1.most-popular__post-title One of Saturn’s largest rings may be newer than anyone
					span.most-popular__post-text Rickie Baroch - June 6, 2019
				.most-popular__post
					a(href="#").most-popular__post-category BMW
					img(src="static/images/content/m3-white.png", alt="m3-white").most-popular__post-img
					h1.most-popular__post-title One of Saturn’s largest rings may be newer than anyone
					span.most-popular__post-text Rickie Baroch - June 6, 2019
				.most-popular__post
					a(href="#").most-popular__post-category BMW
					img(src="static/images/content/m6.png", alt="m6").most-popular__post-img
					h1.most-popular__post-title One of Saturn’s largest rings may be newer than anyone
					span.most-popular__post-text Rickie Baroch - June 6, 2019