section.section 
	.container
		.news-feed
			.news-feed__main
				.news-feed__main-card
					img(src="static/images/content/black-c63.png", alt="black-c63").news-feed__main-img
					.news-feed__article
						a(href="#").news-feed__category Vehicle
						h1.news-feed__article-title One of Saturn’s largest rings may be newer than anyone
						span.news-feed__article-author Rickie Baroch - June 6, 2019
						span.news-feed__article-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
				.news-feed__main-card
					img(src="static/images/content/m3.png", alt="m3").news-feed__main-img
					.news-feed__article
						a(href="#").news-feed__category Vehicle
						h1.news-feed__article-title One of Saturn’s largest rings may be newer than anyone
						span.news-feed__article-author Rickie Baroch - June 6, 2019
						span.news-feed__article-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
				.news-feed__main-card
					img(src="static/images/content/mclaren.png", alt="mclaren").news-feed__main-img
					.news-feed__article
						a(href="#").news-feed__category Vehicle
						h1.news-feed__article-title One of Saturn’s largest rings may be newer than anyone
						span.news-feed__article-author Rickie Baroch - June 6, 2019
						span.news-feed__article-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
				.news-feed__main-card
					img(src="static/images/content/shevrole.png", alt="shevrole").news-feed__main-img
					.news-feed__article
						a(href="#").news-feed__category Vehicle
						h1.news-feed__article-title One of Saturn’s largest rings may be newer than anyone
						span.news-feed__article-author Rickie Baroch - June 6, 2019
						span.news-feed__article-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
				.news-feed__main-card
					img(src="static/images/content/jeep.png", alt="jeep").news-feed__main-img
					.news-feed__article
						a(href="#").news-feed__category Vehicle
						h1.news-feed__article-title One of Saturn’s largest rings may be newer than anyone
						span.news-feed__article-author Rickie Baroch - June 6, 2019
						span.news-feed__article-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem		
				.news-feed__paginators
					a(href="#").news-feed__paginators-prev-arrow
						+icon('prev','news-feed__paginator-icon')
					a(href="#").news-feed__paginator
						span.news-feed__paginator-box.news-feed__paginator-box--black 1
					a(href="#").news-feed__paginator
						span.news-feed__paginator-box 2
					a(href="#").news-feed__paginator
						span.news-feed__paginator-box 3
					a(href="#").news-feed__paginator
						span.news-feed__paginator-box ...
					a(href="#").news-feed__paginator
						span.news-feed__paginator-box 8
					a(href="#").news-feed__paginators-next-arrow
						+icon('next','news-feed__paginator-icon')


			.news-feed__side
				.news-feed__side-article
					img(src="static/images/content/leon.png", alt="Leon").news-feed__side-img
					h1.news-feed__side-title Leon Hunt 
					span.news-feed__side-employment Food & cooking bloger
					span.news-feed__side-text Hi, I'm Leon. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
					a(href="#").news-feed__side-btn Continue Reading

				h1.news-feed__side-post-text Popular posts

				.news-feed__side-posts
					.news-feed__side-post
						a(href="#").news-feed__category-post Vehicle
						img(src="static/images/content/post-1.png", alt="Leon").news-feed__side-img
						h1.news-feed__side-title One of Saturn’s largest rings may be newer than anyone 
						span.news-feed__side-employment Rickie Baroch - June 6, 2019
					.news-feed__side-post
						a(href="#").news-feed__category-post Vehicle
						img(src="static/images/content/post-2.png", alt="Leon").news-feed__side-img
						h1.news-feed__side-title One of Saturn’s largest rings may be newer than anyone 
						span.news-feed__side-employment Rickie Baroch - June 6, 2019
					.news-feed__side-post
						a(href="#").news-feed__category-post Vehicle
						img(src="static/images/content/post-3.png", alt="Leon").news-feed__side-img
						h1.news-feed__side-title One of Saturn’s largest rings may be newer than anyone 
						span.news-feed__side-employment Rickie Baroch - June 6, 2019
				
				h1.news-feed__side-post-instagram Instagram
				.news-feed__side-instagram-post
					img(src="static/images/content/inst-1.png", alt="inst-1").news-feed__side-instagram-post__img
					img(src="static/images/content/inst-2.png", alt="inst-2").news-feed__side-instagram-post__img
					img(src="static/images/content/inst-3.png", alt="inst-3").news-feed__side-instagram-post__img
					img(src="static/images/content/inst-4.png", alt="inst-4").news-feed__side-instagram-post__img
					img(src="static/images/content/inst-5.png", alt="inst-5").news-feed__side-instagram-post__img
					img(src="static/images/content/inst-6.png", alt="inst-6").news-feed__side-instagram-post__img
				a(href="#").news-feed__side-instagram-btn View instagram
				h1.news-feed__side-tags-title Tags
				.news-feed__side-tags
					a(href="#").news-feed__side-post-tag Business
					a(href="#").news-feed__side-post-tag Freelance
					a(href="#").news-feed__side-post-tag Money
					a(href="#").news-feed__side-post-tag Experience
					a(href="#").news-feed__side-post-tag Lifestyle
					a(href="#").news-feed__side-post-tag SEO
					a(href="#").news-feed__side-post-tag Wordpress
					a(href="#").news-feed__side-post-tag Marketing
					a(href="#").news-feed__side-post-tag UX
					a(href="#").news-feed__side-post-tag Modern
					a(href="#").news-feed__side-post-tag Success
					a(href="#").news-feed__side-post-tag Nature
					a(href="#").news-feed__side-post-tag Productivity
					a(href="#").news-feed__side-post-tag Sales page
					a(href="#").news-feed__side-post-tag Sell
					a(href="#").news-feed__side-post-tag Teamwork
					a(href="#").news-feed__side-post-tag Monetize	
				h1.news-feed__side-form-title Email newsletter
				span.news-feed__side-form-text Sign up to receive email updates and to hear what's going on.	
				.news-feed__side-forms
					input(type="name" placeholder="Your name").news-feed__side-form-name
					input(type="name" placeholder="Your email address").news-feed__side-form-email
				a(href="#").news-feed__side-form-btn Subscribe to newsletter

				


				
