footer.footer
	.container
		.footer-top
			.footer-top__about
				a(href="#").footer-top__about-link
					img(src="static/images/content/logo.png", alt="Логотип").footer-top__about-img
				span.footer-top__about-text Short description about the company Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				h1.footer-top__about-title Keep in touch
				.footer-top__about-socials
					a(href="#").footer-top__about-socials-icon
						img(src="static/images/content/facebook.png", alt="facebook")
					a(href="#").footer-top__about-socials-icon
						img(src="static/images/content/twitter.png", alt="twitter")
					a(href="#").footer-top__about-socials-icon
						img(src="static/images/content/pinterest.png", alt="pinterest")
					a(href="#").footer-top__about-socials-icon
						img(src="static/images/content/google.png", alt="google")
					a(href="#").footer-top__about-socials-icon
						img(src="static/images/content/instagram.png", alt="instagram")
								
			.footer-top__posts
				h1.footer-top__posts-title Recent posts
				.footer-top__posts-post
					img(src="static/images/content/footer-post1.png", alt="footer-post1")
					.footer-top__posts-post-descr
						h1.footer-top__posts-post-title One of Saturn’s largest rings may be newer than…
						span.footer-top__posts-post-text Rickie Baroch - June 6, 2019
				.footer-top__posts-post
					img(src="static/images/content/footer-post2.png", alt="footer-post1")
					.footer-top__posts-post-descr
						h1.footer-top__posts-post-title One of Saturn’s largest rings may be newer than…
						span.footer-top__posts-post-text Rickie Baroch - June 6, 2019
				.footer-top__posts-post
					img(src="static/images/content/footer-post3.png", alt="footer-post1")
					.footer-top__posts-post-descr
						h1.footer-top__posts-post-title One of Saturn’s largest rings may be newer than…
						span.footer-top__posts-post-text Rickie Baroch - June 6, 2019		
			.footer-top__forms-block
				h1.footer-top__forms-block-title Newsletter	
				.footer-top__forms
					input(type="name" placeholder="Your name").footer-top__form-name
					input(type="name" placeholder="Your email address").footer-top__form-email
				a(href="#").footer-top__form-btn Subscribe to newsletter			

.footer-bottom
	.container
		.footer-bottom__main
			span.footer-bottom__main-copyright @2019 Logwork. All Right Reserved.
			include ../main-nav/main-nav 
					

